.home-banner {
  height: 100px;
  min-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-secondary);
  z-index: 100;
}
.home-banner-left {
  margin-left: 0px;
}
.home-banner-logo {
  height: 100px;
  cursor: pointer;
}
.home-banner-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.home-banner-button {
  height: 100px;
  background-color: var(--color-secondary);
  border: none;
  cursor: pointer;
  color: var(--color-white);
  font: 500 1rem 'Roboto', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}
.home-banner-button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.home-banner-button:active {
  background-color: var(--color-primary-dark);
  color: rgb(238,238,238);
}
